<!--THIS HEADER FRAGMENT WILL APPEAR IN THE ADMIN PAGES AS STICKY HEADER -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="adminHeader" id="adminHeader" th:fragment = "adminHeader">
    <div class="adminHeader-top-section" >
        <div class="col-9 col-md-9">
            <div class="adminHeader-logo-container">
                <a th:href="@{/admin/main}">
<!--                    <img id="adminHeader-logo" class="adminHeader-logo" th:src="${organizationTheme?.logoURL}" src="/static/images/cardiff_uni_logo.png" alt="Organization Logo">-->

                    <!--Note: this logo will be feed from a script associated with the footer fragment -->
                    <img id="adminHeader-logo" class="adminHeader-logo" alt="Organization Logo">

                </a>
            </div>
            <div class="adminHeader-org-name-container">
                <a class="adminHeader-org-name-link" th:href="@{/admin/main}">
                    <!--Note: The organization's name will be feed from a script associated with the footer fragment -->
<!--                    <p id="adminHeader-org-name" class="adminHeader-org-name" th:text="${organizationTheme?.name}">Cardiff University</p>-->
                    <p id="adminHeader-org-name" class="adminHeader-org-name">[Organization's Name]</p>

                </a>
            </div>
        </div>
        <div class="col-3 col-md-3">
            <div class="adminHeader-org-profile-container">
                <a class="adminHeader-org-profile-link" th:href="@{/admin/organization/update}">
                    <p class="adminHeader-org-profile">Profile</p>
                    <img class="adminHeader-profile-icon" th:src="@{/images/profile-icon.svg}" src="/static/images/profile-icon.svg" alt="profile icon">
                </a>
            </div>
            <form class="adminHeader-org-logout-container" th:action="@{/logout}" th:method="POST">
                <!--Note: The background of this logout button will be feed from a script associated with the footer fragment -->
                <button id="adminHeader-org-logout-button" class="adminHeader-org-logout-link" type="submit">
                    <p class="adminHeader-org-logout">Logout</p>
                    <img class="adminHeader-logout-icon" th:src="@{/images/logout-icon.svg}" src="/static/images/logout-icon.svg" alt="logout icon">
                </button>
            </form>
        </div>
    </div>
</header>
</body>
</html>


