<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Content Management</title>
            <!-- Link Bootstrap CSS -->
            <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
            <!--LINK TO ADMIN HEADER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminHeader.css}" />
            <!--LINK TO ADMIN FOOTER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminFooter.css}" />
            <!--LINK TO CONTENT MANAGEMENT PAGE STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/contentManagementPage.css}" />
            <!--LINK TO NAV BAR STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminNavBar.css}">
        </head>
            <body style="overflow-y: scroll; background-color: #FFFFFF; font-family: 'Merriweather','serif';">
            <!-- HERE THE ADMIN HEADER FRAGMENT INSERTED-->
            <header th:insert="adminHeader::adminHeader"></header>
            <!--HERE THE NAV BAR FRAGMENT INSERTED-->
            <nav th:insert="adminNavBar::adminNavBar"></nav>
            <main style="margin-bottom: 10%; margin-left: 20%;margin-right: 5%;">
                <div class="container-md" style="padding-top: 80px;">
                    <div class="row">
                        <div class="col" style="display: inline-block;padding-bottom: 0;">
                            <img style="display: inline-block;" class="content-icon" th:src="@{/images/content-icon.svg}" src="/static/images/content-icon.svg" alt="content icon">
                            <h3 style="display: inline-block; font-family: 'Merriweather', 'serif'; padding-bottom: 0;">Manage your contents</h3>
                        </div>
                        <div class="col">
                            <a th:href="@{/admin/contents/createContent}">
                                <button type="button" class="create-new-content-button" style="background-color: #3CC494; border: 1px solid #3CC494; ">
                                    <img style="display: inline-block;" class="plus-icon" th:src="@{/images/plus-icon.svg}" src="/static/images/plus-icon.svg" alt="plus icon">
                                    Create Content
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row card shadow p-3">
                        <form class="mb-3">
                            <div class="form-group">
                                <h5>Filter by Event:</h5>
                                <select class="form-control" id="eventFilter">
                                    <option value="all">All Events</option>
                                    <option th:each="eventNameAndId : ${eventNamesAndIdsList}"
                                            th:value="${eventNameAndId[0]}"
                                            th:text="${eventNameAndId[1]}">
                                    </option>
                                </select>
                            </div>
                        </form>

                        <table class="table table-hover table-bordered table-responsive" style="border-radius: 4px;">
                            <thead class="table-light">
                            <tr>
                                <th><h5 style="text-align: center; ">Content name</h5></th>
                                <th><h5 style="text-align: center; ">Event name</h5></th>
                                <th><h5 style="text-align: center; ">Space name</h5></th>
                                <th><h5 style="text-align: center; ">Sub space Name </h5></th>
                                <th><h5 style="text-align: center; ">Make Decision</h5></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="contentInfo : ${contentInfoList}">
                                <td><p style="text-align: center;" th:text="${contentInfo[0].name}"></p></td>
                                <td><p style="text-align: center;" th:text="${contentInfo[1]}"></p></td>
                                <td><p style="text-align: center;" th:text="${contentInfo[2]}"></p></td>
                                <td><p style="text-align: center;" th:text="${contentInfo[3]}"></p></td>
                                <td class="centered-buttons">
                                    <form th:action="@{/admin/contents/deleteContent}" th:method="POST">
                                        <input type="hidden" name="eventId" th:value="${contentInfo[0].id}" th:method="POST" />
                                        <button type="submit" class="btn btn-primary" style="background-color: #1E98D7; margin-right:10px;">View</button>
                                    </form>
                                    <form th:action="@{/admin/contents/deleteContent}" th:method="POST">
                                        <input type="hidden" name="contentId" th:value="${contentInfo[0].id}" />
                                        <button type="submit" class="btn btn-danger" style="background-color: #E01818;">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <!-- Add more table rows -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </main>
            <!-- HERE THE ADMIN FOOTER FRAGMENT INSERTED-->
            <footer th:insert="adminFooter::adminFooter"></footer>
        </body>
    </html>

