<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Event Management</title>
            <!-- Link Bootstrap CSS -->
            <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
            <!--LINK TO ADMIN HEADER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminHeader.css}" />
            <!--LINK TO ADMIN FOOTER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminFooter.css}" />
            <!--LINK TO EVENT MANAGEMENT PAGEE STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/eventManagementPage.css}" />
        </head>
        <body style="overflow-y: scroll; background-color: #FFFFFF; font-family: 'Merriweather';">
            <!-- HERE THE ADMIN HEADER FRAGMENT INSERTED-->
            <header th:insert="adminHeader::adminHeader"></header>
            <main style="margin-bottom: 10%;">
                <div class="container-md" style="padding-top: 80px;">
                    <div class="row">
                        <div class="col" style="display: inline-block;padding-bottom: 0px;">
                            <img style="display: inline-block;" class="event-icon" th:src="@{/images/event-icon.svg}" src="/static/images/event-icon.svg" alt="event icon">
                            <h3 style="display: inline-block; font-family: 'Merriweather'; padding-bottom: 0px;">Manage your events</h3>
                        </div>
                        <div class="col">
                            <button type="button" class="create-new-event-button">
                                <img style="display: inline-block;" class="plus-icon" th:src="@{/images/plus-icon.svg}" src="/static/images/plus-icon.svg" alt="plus icon">
                                Create Event
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table  table-hover table-bordered table-responsive" style="border-radius: 4px;">
                            <thead class="table-light">
                                <tr>
                                    <td>
                                        <h5 style="text-align: center; ">Event name</h5>
                                    </td>
                                    <td>
                                        <h5 style="text-align: center; ">Venues</h5>
                                    </td>
                                    <td>
                                        <h5 style="text-align: center; ">Start Date</h5>
                                    </td>
                                    <td>
                                        <h5 style="text-align: center; ">End Date</h5>
                                    </td>
                                    <td>
                                        <h5 style="text-align: center; ">Make Decision</h5>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: center; ">Open day</p>
                                    </td>
                                    <td>
                                        <select class="form-select" id="exampleDropdown">
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                            <option style="text-align: center; ">Abacws 3.65</option>
                                        </select>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">7/7/2023</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center; ">8/7/2023</p>
                                    </td>
                                    <td class="centered-buttons">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary">View</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </main>
            <!-- HERE THE ADMIN FOOTER FRAGMENT INSERTED-->
            <footer th:insert="adminFooter::adminFooter"></footer>
        </body>
    </html>