<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Event Management</title>
            <!-- Link Bootstrap CSS -->
            <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
            <!--LINK TO ADMIN HEADER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminHeader.css}" />
            <!--LINK TO ADMIN FOOTER STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminFooter.css}" />
            <!--LINK TO EVENT MANAGEMENT PAGEE STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/eventManagementPage.css}" />
            <!--LINK TO NAV BAR STYLE SHEET-->
            <link rel="stylesheet" th:href="@{/css/adminNavBar.css}">

        </head>
        <body style="overflow-y: scroll; background-color: #FFFFFF; font-family: 'Merriweather','serif';">
            <!-- HERE THE ADMIN HEADER FRAGMENT INSERTED-->
            <header th:insert="adminHeader::adminHeader"></header>
            <!--HERE THE NAV BAR FRAGMENT INSERTED-->
            <nav th:insert="adminNavBar::adminNavBar"></nav>
            <main style="margin-bottom: 10%; margin-left: 20%;margin-right: 5%;">
                <div class="container-md" style="padding-top: 80px;">
                    <div class="row">
                        <div class="col" style="display: inline-block;padding-bottom: 0;">
                            <img style="display: inline-block;" class="event-icon" th:src="@{/images/event-icon.svg}" src="/static/images/event-icon.svg" alt="event icon">
                            <h3 style="display: inline-block; font-family: 'Merriweather', 'serif'; padding-bottom: 0;">Manage your events</h3>
                        </div>
                        <div class="col">
                            <a th:href="@{/admin/events/createEvent}">
                                <button type="button" class="create-new-event-button" style="background-color: #3CC494; border: 1px solid #3CC494; ">
                                    <img style="display: inline-block;" class="plus-icon" th:src="@{/images/plus-icon.svg}" src="/static/images/plus-icon.svg" alt="plus icon">
                                    Create Event
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row card shadow p-3" >
                        <table class="table  table-hover table-bordered table-responsive" style="border-radius: 4px;">
                            <thead class="table-light">
                            <tr>
                                <td>
                                    <h5 style="text-align: center; ">Event name</h5>
                                </td>
                                <td>
                                    <h5 style="text-align: center; ">Venues</h5>
                                </td>
                                <td>
                                    <h5 style="text-align: center; ">Start Date</h5>
                                </td>
                                <td>
                                    <h5 style="text-align: center; ">End Date</h5>
                                </td>
                                <td>
                                    <h5 style="text-align: center; ">Make Decision</h5>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="event : ${events}">
                                <td>
                                    <p style="text-align: center; " th:text="${event.name}"></p>
                                </td>
                                <td>
                                    <select class="form-select">
                                        <option style="text-align: center;" disabled selected>Show Venues</option>
                                        <th:block th:each="eventInfo : ${eventVenueInfoMap}">
                                            <th:block th:if="${eventInfo.key.id == event.id}">
                                                <th:block th:each="venueInfo : ${eventInfo.value}">
                                                    <option style="text-align: center;" th:text="${venueInfo.venueName}" th:value="${venueInfo.venueId}"></option>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </select>

                                </td>
                                <td>
                                    <p style="text-align: center; " th:text="${#temporals.format(event.start, 'dd/MM/yyyy')}"></p>
                                </td>
                                <td>
                                    <p style="text-align: center; " th:text="${#temporals.format(event.end, 'dd/MM/yyyy')}"></p>
                                </td>
                                <td class="centered-buttons">
                                    <form th:action="@{/admin/events/viewEvent}" th:method="POST">
                                        <input type="hidden" name="eventId" th:value="${event.id}" />
                                        <button type="submit" class="btn btn-primary" style="background-color: #1E98D7; margin-right:10px;">View</button>
                                    </form>
                                    <form th:action="@{/admin/events/deleteEvent}" th:method="POST">
                                        <input type="hidden" name="eventId" th:value="${event.id}" />
                                        <button type="submit" class="btn btn-danger" style="background-color: #E01818;">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <!-- HERE THE ADMIN FOOTER FRAGMENT INSERTED-->
            <footer th:insert="adminFooter::adminFooter"></footer>
        </body>
    </html>


