<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Website Title</title>
<!--LINK TO HEADER STYLE SHEET-->
<link rel="stylesheet" th:href="@{/css/headerStyle.css}" />
<!--LINK TO HEADER SCRIPT FILE-->
<script th:src="@{/script/headerScript.js}"></script>
<body style="overflow-y: scroll;">
<!-- HERE THE HEADER FRAGMENT INSERTED-->
<header th:insert="userHeader::userHeader"></header>
<main style="background-color: #F2F2F2;   width: 100%;">
    <div style="padding-top: 130px;height: 400px;"><h1>Welcome to QR Navigation Project</h1></div>
    <div style="padding-top: 130px;height: 400px;"><h1>Welcome to QR Navigation Project</h1></div>
    <div style="padding-top: 130px;height: 400px;"><h1>Welcome to QR Navigation Project</h1></div>
</main>
</body>
</html>


