<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Organization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>
    <!--webjars dependencies for bootstrap.ja and bootstrap.css    -->
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

    <!--admin header and footer stylesheets    -->
    <link rel="stylesheet" href="/static/css/adminHeader.css" th:href="@{/css/adminHeader.css}">
    <link rel="stylesheet" href="/static/css/adminFooter.css" th:href="@{/css/adminFooter.css}">
    <!--admin navigation side bar -->
    <link rel="stylesheet" th:href="@{/css/adminNavBar.css}">

    <style>
        body,
        main {
            background-color: #F2F2F2;
            margin-left: 10%;
        }

        .alternate-btn {
            background-color: #1E98D7;
            border: 1px solid #1E98D7;
        }

        .border-solid {
            border: 1px solid #ccc;
        }
        .hex{
            color: #ff0044; font-size: x-small;
        }
    </style>
</head>

<body th:with="organization=${organization}">
<header th:insert="adminHeader::adminHeader"></header>
<nav th:insert="adminNavBar::adminNavBar"></nav>
<main class="mb-5 mt-5">
    <section class="container row m-auto p-5">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Edit your Organization's Details</h3>
        </section>
        <section class="row m-auto">
            <form th:action="@{/admin/organization/update/process}" th:method="POST" class="card shadow form col-xs-12 col-sm-12 col-md-5 col-lg-6 p-5 m-1">
                <div class="row shadow p-3 mb-3 rounded border-solid">
                    <label for="name" class="col-md-4 col-lg-4">Name:</label>
                    <input id="name" class="col-md-8 col-md-8 mb-3" name="name" type="text"
                           placeholder="Enter Organization's name" th:value="${organization?.name}" required pattern="[a-zA-Z-' ]{2,50}">
                    <label for="phone" class="col-md-4 col-lg-4">Phone:</label>
                    <input id="phone" class="col-md-8 col-md-8" name="phone" type="tel"
                           placeholder="Enter Organization's Phone" th:value="${organization?.phone}"
                           required pattern="^\+?\d{1,4}[-.\s]?\(?\d{1,3}\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}$">
                </div>
                <div class="row shadow p-3 mb-3 rounded border-solid">
                    <label for="postcode" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Postcode:</label>
                    <input id="postcode" name="postcode" type="text" placeholder="Enter Organization's postcode" th:value="${organization?.address?.postcode}"
                           class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-2" required pattern="^[A-Z]{1,2}[0-9Rr][0-9A-Za-z]? ?[0-9][A-Za-z]{2}$">
                    <label for="addresses" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Addresses:</label>
                    <select id="addresses" name="description" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-2">
                        <option th:value="${organization?.address?.description}" th:text="${organization?.address?.description}">select an address</option>
                    </select>
                    <input id="latitude" type="hidden" name="latitude" th:value="${organization?.address?.location?.latitude}">
                    <input id="longitude" type="hidden" name="longitude" th:value="${organization?.address?.location?.longitude}">
                </div>
                <div class="shadow row p-3 mb-3 rounded border-solid">
                    <label for="logo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Logo:</label>
                    <input id="logo" name="logoURL" type="text" placeholder="Enter Organization's Logo URL"
                           class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-2" th:value="${organization?.logoURL}" required pattern="^(https?:\/\/)?[a-z0-9.-]+\.[a-z]{2,}(\/.*)?$">
                    <label for="website" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Website:</label>
                    <input id="website" name="websiteURL" type="text" placeholder="Enter Organization's website URL"
                           class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-2" th:value="${organization?.websiteURL}" required pattern="^(https?:\/\/)?[a-z0-9.-]+\.[a-z]{2,}(\/.*)?$">
                </div>
                <div class="shadow row p-3 mb-3 rounded border-solid">
                    <label for="header-background" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">Header Background <span class="hex">(# HEX)</span>:</label>
                    <input id="header-background" name="headerBackground" type="color"
                           class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-control-color mb-2" th:value="${organization?.headerBackground}">
                    <label for="footer-background" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">Footer Background <span class="hex">(# HEX)</span>:</label>
                    <input id="footer-background" name="footerBackground" type="color" th:value="${organization?.footerBackground}"
                           class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-control-color mb-2">
                </div>
                <div class="row p-3 mb-3 justify-content-end">
                    <button id="edit-btn" class="btn btn-primary w-25 alternate-btn shadow" type="submit">Edit</button>
                </div>
            </form>
            <div class="card shadow col-xs-12 col-sm-12 col-md-5 col-lg-5 m-1 p-3 text-center">
                <img class="w-50 h-50 m-auto" src="/static/images/skyscraper_icon.svg"
                     th:src="@{/images/skyscraper_icon.svg}" alt="sky scraper">
            </div>
        </section>
    </section>
</main>
<footer th:insert="adminFooter::adminFooter"></footer>
<script th:inline="javascript">
    const postcodeAPI = /*[[${postcodeAPI}]]*/ '';
</script>
<script th:src="@{/script/postcodeLookup.js}"></script>
</body>

</html>