<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<footer th:fragment="qrNavFooter" style="background-color: #30344C; font-size: 18px;
    font-family:'Merriweather',serif; padding:20px; bottom: 0;left:0;
     position:fixed; z-index: 0; width:100%;">
        <span style="color:#FFFFFF; margin:auto auto auto 30px;">
            &copy; 2023 QR Navigation System, All rights reserved
        </span>
    <script th:inline="javascript">
        window.onload = () => {
            let currentPath = /*[[${#httpServletRequest.getRequestURI()}]]*/ '';
            let headerAuthForm = document.querySelector("#header-auth-form");
            let authSpan = document.querySelector("#auth-text");
            let criteriaIsMet = (
                currentPath === "/qrnavigation/welcome"
                || currentPath === "/login"
                || currentPath === "/qrnavigation/signup"
                || currentPath === "/login-error"
            );
            if (criteriaIsMet) {
                authSpan.textContent = 'Login';
                headerAuthForm.action = '/login';
            } else {
                authSpan.textContent = 'Logout';
                headerAuthForm.action = '/logout';
            }
        };
    </script>
</footer>
</body>
</html>

