<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<header th:fragment="qrNavHeader">
    <a id="app-home-link" th:href="@{/qrnavigation/}">
        <img id="app-logo" src="/static/images/app_icon.png" th:src="@{/images/app_icon.png}" alt="Application logo">
        <span id="app-name">QR NAVIGATION SYSTEM</span>
    </a>
    <form id="header-auth-form" th:action="@{/logout}" th:method="POST">
        <button type="submit" style="background-color: #30344C; border: 0;">
            <span id="auth-text">Logout</span>
            <img class="auth-icon" src="/static/images/logout-icon.svg" th:src="@{/images/logout-icon.svg}" alt="Login Logout icon">
        </button>
    </form>
</header>
</body>
</html>